<div hx-target="this" hx-swap="outerHTML" class="space-y-4"> 
    <div class="grid grid-cols-3"> 
        <span class="text-slate-600 font-medium">First Name:</span> 
        <span class="col-span-2">{{FIRST_NAME}}</span> 
    </div> <div class="grid grid-cols-3"> 
        <span class="text-slate-600 font-medium">Last Name:</span> 
        <span class="col-span-2">{{LAST_NAME}}</span> 
    </div> <div class="grid grid-cols-3"> 
        <span class="text-slate-600 font-medium">Email:</span> 
        <span class="col-span-2">{{EMAIL}}</span> 
    </div> <div class="mt-6"> 
        <button hx-get="/contact/1/edit" class="btn btn-primary"> Click To Edit </button> 
    </div> 
</div>
